@font-face {
    font-family: narrow;
    src: url(../font/PTSansNarrow-Regular.ttf);
}

$color_head : #FFFFFF;
$color_list : #7a7c7b; 
$color_list_hover : #a0d175; 
$police: narrow ; 
$border: #265200; 
$delete : #a40000;